{
  "env": {
    "browser": true,
    "es6": true,
    "es2017": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  // Движок парсинга
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "tsconfigRootDir": "."
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/no-unsafe-member-access": "off",
    "@typescript-eslint/no-unsafe-return": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@react/display-name": "off",
    "@react/prop-types": "off",
    "react/display-name": "off",
    "react/prop-types": "off",
    "react/no-unescaped-entities": "off"
  }
}
